<div class="container">
  <select id="Id" class="hideLabel form-control" name="Id" [(ngModel)]="selectedGroup" (change)="onChangeGroup()">
    <option selected="" value="all" [value]="'all'">All items</option>
    <option *ngFor="let group of groups" [value]="group">
      {{group}}
    </option>
  </select>
</div>
<div class="container">
  <ul *ngIf="list.length;else emptyList">
    <li *ngFor="let item of list; let i = index">
    <span [class.done]="item.completed">
      <input type="checkbox" class="checkbox" [checked]="item.completed" (change)="onChange(item.id)">
      <span class="number">{{i + 1}}.</span>
      <span class="item">
        <span class="title" [innerHTML]="item.caption | textFormat: 'bolt'"></span>
        <span class="group" [innerHTML]="item.group | textFormat: 'italic'"></span>
      </span>
    </span>
      <div class="buttons">
        <span class="material-icons info" *ngIf="item.date" [title]="item.date | date:'medium'">
          help_outline
        </span>
        <span class="material-icons close" (click)="removeItem(item.id)">
          close
        </span>
      </div>
    </li>
  </ul>

  <ng-template #emptyList>
    <p>List is empty.</p>
  </ng-template>
</div>
