<div>
  <select id="Id" class="hideLabel form-control" name="Id" [(ngModel)]="selectedGroup" (change)="onChangeGroup()">
    <option selected="" value="all" [value]="'all'">All items</option>
    <option *ngFor="let group of groups" [value]="group">
      {{group}}
    </option>
  </select>
</div>
<ul *ngIf="list.length;else emptyList">
  <li *ngFor="let item of list; let i = index">
    <span [class.done]="item.completed">
      <input type="checkbox" class="checkbox" [checked]="item.completed" (change)="onChange(item.id)">
      <span class="number">{{i + 1}}.</span>
      <span class="item">
        <span class="title" [innerHTML]="item.caption | textFormat: 'bolt'"></span>
        <span class="group" [innerHTML]="item.group | textFormat: 'italic'"></span>
      </span>
    </span>
    <small>{{item.date | date:'medium'}}</small>
    <button class="rm" (click)="removeItem(item.id)">&times;</button>
  </li>
</ul>

<ng-template #emptyList>
  <p>List is empty.</p>
</ng-template>
